.contact-form__content {
    max-width: 1230px;
    margin: 0 auto;
    text-align: center;
}

.contact-form__header {
    margin: 50px auto;
}

.form {
    width: 60%;
    margin: 0 auto;
}

.form__group {
    display: flex;
    justify-content: space-between;
}

.form__group-title {
    display: flex;
}

.form__label--item {
    padding-right: 10px;
}

.form__label--required {
    color: #b3b3b3;
}

.form__group-content {
    width: 70%;
    margin-bottom: 20px;
}

.form__input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.form__error {
    text-align: left;
    color: #ff0000;
}

.form__text {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.form__button {
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
}

.form__button-submit {
    width: 100%;
    height: 40px;
    background: #000;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 10px;
}